// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
body.dark {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-color-primary: #4c8dff;
    --ion-item-background: #1e1e1e;
}

body.bright {
    --ion-background-color: white;
    --ion-text-color: black;
    --ion-color-primary: #4c8dff;
    --ion-item-background: white;
}